@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    display: flex;
}

.head1{
    text-decoration: none;
}
.logo{
    margin-left: 15px;
    margin-top: 15px;

}
.navv{
    margin: 0 0 120px 250px;
}

button{
    
    border-radius: 40px;
    background-color: black;
    padding: 10px;
    display: inline-block ;
    color: white;
    margin-bottom: 50px;
}

p{
    font-size: 20px;
    color: gray;
    font-family: 'Inconsolata', monospace;
}
button,p.button1{
    display: inline-block;

    margin-left: 20px;
    
}
.devices1{
    width: 50%;
    padding-top: 5%;
    font-size: 2rem;
}
.devices2{
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: left;
    margin-top: 10px;
}
main{
    margin-bottom: 5em;
}
.main{
    font-size: 50px;
}
.main1{
    font-size: 20px;
    margin-top: 10px;
}
a,p.end1{
    display: inline-block;
    margin-top: 3em;
    margin-left: 20px;

}
.end2{
    border-radius: 50px;
    background-color:red;
    padding: 10px;
    display: inline-block ;
    color: white;
    outline: none;
    box-shadow: 10px 5px 5px rgb(216, 98, 98);
    text-decoration: none;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}